
page-login .logo {
  padding: 20px 0;
  min-height: 200px;
  text-align: center;
}

page-login .logo img {
  max-width: 150px;
}
.auth0-lock-badge-bottom{
  display: none;
}
.auth0-lock.auth0-lock .auth0-lock-header-logo{
  display: none!important;
}
.auth0-lock-name{
  display: none;
}
