<ion-header>
  <ion-navbar no-border-bottom>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <!--<ion-buttons end>
      <button ion-button icon-only (click)="presentFilter()">
        <ion-icon ios="ios-options-outline" md="md-options"></ion-icon>
      </button>
    </ion-buttons>-->
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-searchbar color="primary"
                   [(ngModel)]="queryText"
                   (ionInput)="getDoctors()"
                   placeholder="Search doctor by name, hospital or speciality">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let doctor of doctors" class="speaker">
    <ion-card-content class="outer-content">
      <ion-item>
        <ion-avatar item-left>
          <img [src]="doctor.profile_pic">
        </ion-avatar>
        <h2>{{doctor.name}}</h2>
        <p>
          <ion-icon name="home"></ion-icon>
          &nbsp;&nbsp;{{doctor.hospital}} hospital
        </p>

      </ion-item>
      <ion-row>
        <ion-chip *ngFor="let speciality of doctor.speciality">
          <ion-label> {{speciality}}</ion-label>
        </ion-chip>
      </ion-row>
    </ion-card-content>
    <ion-item>
      <button ion-button color="primary" ion-button (click)="requestAppointment(doctor)">Request Appointment</button>
    </ion-item>


  </ion-card>
  <ion-list-header [hidden]="doctors.length">
    No Doctors Found
  </ion-list-header>


</ion-content>
