<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Signup</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list>
    <div class="logo">
      <img src="assets/img/appicon.png">
    </div>
    <ion-item>
      <ion-label>I am a Doctor</ion-label>
      <ion-toggle value="foo" checked="false"  [(ngModel)]="isDoctor"></ion-toggle>
    </ion-item>
    <form #signupForm="ngForm" novalidate>
      <ion-item>
        <ion-label floating color="primary">Username</ion-label>
        <ion-input [(ngModel)]="signup.user_name" name="username" type="text" #username="ngModel" required>
        </ion-input>
      </ion-item>
      <p [hidden]="username.valid || submitted == false" color="danger" padding-left>
        Username is required
      </p>

      <ion-item>
        <ion-label floating color="primary">Password</ion-label>
        <ion-input [(ngModel)]="signup.password" name="password" type="password" #password="ngModel" required>
        </ion-input>
      </ion-item>
      <p [hidden]="password.valid || submitted == false" color="danger" padding-left>
        Password is required
      </p>
      <div *ngIf="!isDoctor">
      <ion-item>
        <ion-label floating color="primary">First Name</ion-label>
        <ion-input [(ngModel)]="signup.first_name" name="firstname" type="text" #firstname="ngModel" required>
        </ion-input>
      </ion-item>
      <p [hidden]="firstname.valid || submitted == false" color="danger" padding-left>
        First Name is required
      </p>
      <ion-item>
        <ion-label floating color="primary">Last Name</ion-label>
        <ion-input [(ngModel)]="signup.last_name" name="lastname" type="text" #lastname="ngModel" required>
        </ion-input>
      </ion-item>
      <p [hidden]="lastname.valid || submitted == false" color="danger" padding-left>
        Last Name is required
      </p>
        <ion-item>
          <ion-label floating color="primary">Mobile</ion-label>
          <ion-input [(ngModel)]="signup.mobile" name="mobile" type="text" #mobile="ngModel" required>
          </ion-input>
        </ion-item>
        <p [hidden]="mobile.valid || submitted == false" color="danger" padding-left>
          NIC is required
        </p>
        <ion-item>
          <ion-label floating color="primary">NIC</ion-label>
          <ion-input [(ngModel)]="signup.nic" name="nic" type="text" #nic="ngModel" required>
          </ion-input>
        </ion-item>
        <p [hidden]="nic.valid || submitted == false" color="danger" padding-left>
          NIC is required
        </p>

        </div>
      <ion-item>
        <ion-label floating color="primary">Email</ion-label>
        <ion-input [(ngModel)]="signup.email" name="email" type="email" #email="ngModel" required>
        </ion-input>
      </ion-item>
      <p [hidden]="email.valid || submitted == false" color="danger" padding-left>
        Email is required
      </p>
      <div *ngIf="isDoctor">
        <ion-item>
          <ion-label floating color="primary">Name</ion-label>
          <ion-input [(ngModel)]="signup.name" name="name" type="text" #name="ngModel" required>
          </ion-input>
        </ion-item>
        <p [hidden]="name.valid || submitted == false" color="danger" padding-left>
          Name is required
        </p>
        <ion-item>
          <ion-label floating color="primary">Hospital</ion-label>
          <ion-input [(ngModel)]="signup.hospital" name="hospital" type="text" #hospital="ngModel" required>
          </ion-input>
        </ion-item>
        <p [hidden]="hospital.valid || submitted == false" color="danger" padding-left>
          Hospital is required
        </p>
        <ion-item>
          <ion-label floating color="primary">Speciality</ion-label>
          <ion-input [(ngModel)]="signup.speciality" name="speciality" type="text" #speciality="ngModel" required>
          </ion-input>
        </ion-item>
        <p [hidden]="speciality.valid || submitted == false" color="danger" padding-left>
          Speciality is required
        </p>
      </div>
      <div padding>
        <button ion-button (click)="onSignup(signupForm,isDoctor)" type="submit" block color="primary">Create</button>
      </div>
    </form>
  </ion-list>

</ion-content>
